.nested-fields
  .mb-3.row.align-items-center
    .col
      = f.select :equipment_id, Weapon.all.map{|e| [e.name, e.id]}, {:include_blank => "Select Weapon"}, class: "form-control", required: true
    .col-md-1
      = link_to_remove_association "-", f
